body {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/contestants-in-the-world-cup-dishes-episode-of-masterchef-news-photo-1595946498.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-weight: 400;
  margin-top: 3rem;
  font-size: 3rem;
  color: #fff;
}

ul {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  padding: 4rem 1rem 4em 8rem;
  width: 70%;
  margin: 5rem auto 3rem;
  box-sizing: border-box;
}

li {
  margin-bottom: 2.5rem;
  list-style: none;
  list-style-image: url(../images/finger.png);
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(11, 24, 65);
  font-weight: bolder;
  cursor: default;
}

a:hover {
  color: rgb(33, 65, 153);
}

/************************* Media Queries *****************************/
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
  ul {
    padding: 3rem 1rem 3em 5rem;
    width: 90%;
  }
}
